@charset "utf-8";

@import "top_settings";
@import "module/module";

@mixin section_small() {
  width: 73%;
  margin: 50px auto 0 auto;
}

html {
  background: url(../../images/html_bg.png);
}

.container {
  padding-bottom: 50px;
}

.start-btn {
  margin-top: 50px;
  text-align: center;
  a {
    @include button;
    background: #387FC5;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    width: 62%;
    font-size: rem-calc(34);
    box-shadow: 0px 5px 0px -1px #2a6291;
  }
}

.banners {
  @include section_small;
  li {
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
}

.instances {
  @include section_small;
  .instances__note {
    text-align: center;
  }

  .instances__search {
    margin-top: 20px;
    border: 1px solid #000000;
    padding: 10px;

    dt {
      text-align: center;
    }
    dd {
      text-align: center;
      margin-top: 15px;
      &:first-child {
        margin-top: 20px;
      }
    }
  }
}

.joke {
  @include section_small;
  p {
    text-align: center;
  }
}

.thanks {
  @include section_small;
  dl {
    @include menu($x: 0, $y: 0, $j: 'center');
  }
  .thanks__split {
    margin-left: 20px;
  }
}

.copyright {
  @include section_small;
  text-align: center;
}

.result {

}